 h1
  {
    color: white;
    background-color: red;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 8px;
    margin: 5px auto;
  }
  
  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: 50px;
    align-items: center;
  }

  .top{
    background-color: #d3a55c;
    width: 28rem;
    height: 6rem;
    margin-top: 5px auto;
    border-bottom: 0.9rem solid darkgoldenrod;
    border-radius: 4rem 4rem 1rem 1rem;
  }
  
  .cheese {
    background-color: #ffd700;
    width: 30rem;
    height: 2rem;
    border-bottom: 0.5rem solid darkorange;
  }
  
  .tomato {
    background-color: red;
    width: 22rem;
    height: 2rem;
    border-bottom: 0.4rem solid darkred;
  }

  .cheese {
    background-color: #ffd700;
    width: 30rem;
    height: 2rem;
    border-bottom: 0.2rem solid darkorange;
  }

  .cheese {
    background-color: #ffd700;
    width: 30rem;
    height: 1rem;
    border-bottom: 0.2rem solid darkorange;
  }

  .meat
  {
    background-color: rgb(205 100 52);
    width: 25rem;
    height: 2rem;
    border-bottom: 0.2rem solid darkred;
    border-radius: 2rem 2rem 2rem 2rem;
  }

  .onion
  {
    display: flex;
    background-color: purple;
    width: 22rem;
    height: 2.5rem;
    justify-content: center;
  }

  .onion-ring
  {
    background-color: #dda0dc;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 2px auto;
  }
  
  .peakl
  {
    display: flex;
    justify-content: center;
  }

  .peakl-ring
  {
    background-color: rgb(165 43 42);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
  }

  .salad
  {
    background-color: #90f08f;
    width: 22rem;
    height: 3rem;
    margin-top: 5px auto;
    border-bottom: 0.9rem solid darkgreen;
    border-radius: 1rem 1rem 4rem 4rem;
  }

  .bottom
  {
    background-color: #d3a55c;
    width: 28rem;
    height: 6rem;
    margin-top: 5px auto;
    border-top: 0.9rem solid darkgoldenrod;
    border-radius: 1rem 1rem 4rem 4rem;
  }
